alembic==1.9.3
amqp==5.2.0
async-timeout==4.0.2
atomicwrites==1.4.0
Babel 
bcrypt 
beautifulsoup4
black
conda-verify==3.4.2
coverage-badge==1.1.2
distributed 
dnspython==2.7.0
flake8 
Flask==2.2.2
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.0.3
fonttools==4.25.0
google-api-core==2.11.0
google-api-python-client==2.77.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-aiplatform==1.70.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.11.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.58.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.0
grpcio-status==1.62.3
gspread==5.7.2
gunicorn==23.0.0
pytest==8.3.2
pytest-cov==5.0.0

